route:
  group_by: ['alertname', 'job']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  receiver: alerts

receivers:
- name: alerts
  # discord_configs:
  # - webhook_url: <your_discord_webhook>
  # slack_configs:
  # - send_resolved: true
  #   text: "{{ .CommonAnnotations.description }}"
  #   channel: <#your_slack_channel_name>
  #   api_url: <your_slack_webhook>
  # telegram_configs:
  # - bot_token: '<小挟 小孝携 API TOKEN>'
  #   api_url: 'https://api.telegram.org'
  #   chat_id: '小挟 CHAT_ID'
  #   parse_mode: ''
  #   message_thread_id: ' 小挟 TOPIC_ID'
  #   message: " Alertmanager \n--\n Alertname: {{ .GroupLabels.alertname}}\n Severity: {{ .CommonLabels.severity }}\n {{ range .Alerts }}{{ .Annotations.summary }}\n{{ end }}"